* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* transition: all 0.5s ease; */
}
:root {
  --accent-color: #fff;
  --gradient-color: #fbfbfb;
  --c-primary: rgb(243, 182, 59);
  --c-secondary: rgba(200, 200, 200, 0.85);
  --c-tertiary: hsl(88, 25%, 11%, 0.7);

  --v-space: 6rem;
  --f-weight: 600px;
  --border-radius: min(10vw, var(--v-space));

  color: #ffa0a0;
  box-sizing: border-box;
  background-color: #261c2c;
}

body {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* min-height: 100vh; */
  position: relative;
}

#check {
  display: none;
}

li {
  list-style: none;
}

/* sidebar without @media - unchecked state */
.sidebar {
  position: fixed;
  top: 0;
  width: 240px;
  left: -240px;
  height: 100%;
  background-color: rgb(92, 82, 127);
  /* border: solid red 2px; */
  transition: all 0.5s ease;
  z-index: 1;
}

.sidebar a,
label {
  display: block;
  /* height: 65px; */
  /* width: 100%; */
  color: rgb(38, 28, 44);
  line-height: 65px;
  padding-left: 30px;
  border-left: 5px solid transparent;
  font-family: "Lato", sans-serif;
  /* transition: all 0.5s ease; */
}
.sidebar label {
  color: #d6adff;
  font-size: 29px;
  cursor: pointer;
}
.sidebar a:hover {
  border-left: 5px solid var(--accent-color);
  color: #fff;
  background: linear-gradient(
    to left,
    var(--accent-color),
    var(--gradient-color)
  );
}
.sidebar a i {
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span {
  letter-spacing: 1px;
  text-transform: uppercase;
}

label #btn {
  position: fixed;
  left: 5px;
  top: 0;
  margin: 15px 30px;
  cursor: pointer;
  color: #d6adff;
  font-size: 29px;
  text-shadow: 2px 2px 3px rgba(12, 10, 10, 0.5);
  line-height: 45px;
  transition: all 0.5s ease;
  z-index: 2;
}

/* sidebar without @media - checked state */
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #btn {
  /* margin-left: 180px; */
  /* display: none; */
  opacity: 0;
  visibility: hidden;
}

.sidebar > a:hover:nth-child(even) {
  --accent-color: #fdd939;
  --gradient-color: #8d3ae6;
}

.sidebar > a:hover:nth-child(odd) {
  --accent-color: #582ce7;
  --gradient-color: #a890fe;
}

@media (max-width: 834px) {
  /* header, */
  #btn,
  #cancel,
  .sidebar span {
    display: none;
  }
  .sidebar {
    height: auto;
    top: calc((100vh - 60px * 4) / 2);
    /* top: 170px; */
    /* bottom: auto; */
    width: 70px;
    left: 0;
  }

  .sidebar a {
    height: 60px;
  }
  .sidebar a i {
    margin-left: -10px;
  }
}

.type-primary {
  font-weight: var(--f-weight);
  font-size: 3.5rem;
  line-height: 1.4ch;
  font-family: "Abril Fatface", cursive;
}

main {
  display: grid;
  grid-template-columns: 1fr 6fr 4fr 1fr;
  grid-template-rows: 100vh auto auto auto;
  grid-template-areas:
    ". logo-contact logo-contact ."
    "intro intro intro intro"
    "interest interest interest interest"
    ". blogs blogs ."
    "footer footer footer footer";
  transition: 0.5s;
}

#check:checked ~ main {
  margin-left: 240px;
}

.logo-contact {
  grid-area: logo-contact;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "header"
    "contact";
}
.logo {
  margin: var(--v-space) 0 0 0;
  /* will-change: opacity; */
  grid-area: header;
  align-self: end;
}
.logo a {
  font-size: 6.5rem;
  font-weight: 700px;
  line-height: 1;
  color: var(--c-primary);
  font-family: "Abril Fatface", cursive;
  /* text-shadow: 2px 2px 3px rgba(12, 10, 10, 0.5); */
}

.contact {
  grid-area: contact;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-logo {
  font-size: 1.5rem;
  line-height: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(92, 82, 127, 0.5);
  padding: 15px 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(56, 19, 32, 0.5);
}
.contact-logo span {
  margin-left: 20px;
  color: #fff;
}
.contact-logo img {
  width: 3rem;
  height: 3rem;
  /* margin-right: 16px; */
}

.intro {
  /* will-change: opacity; */
  margin: var(--v-space) 0;

  grid-area: intro;
  background: url(bg_3.jpg) no-repeat scroll center;
  background-size: cover;

  /* filter: blur(3px);
  -webkit-filter: blur(3px); */

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1.5fr 4fr 1.5fr;
}

.intro-content {
  grid-column: 2/3;
  grid-row: 2/3;
  /* background-color: #353535; */
  background: rgba(248, 205, 231, 0.7);
  box-shadow: 0 0 60px #da18187a;
  border-radius: 20px;
  padding: 2rem;
  color: #000000;
}
.intro-content > h1 {
  text-align: center;
}
.intro-content p {
  /* display: block; */
  margin: calc(var(--v-space) * 0.5) 0 0 0;
  font-size: 1.5rem;
}

.interest {
  margin: var(--v-space) 0;
  grid-area: interest;
}

.interest-intro {
  /* grid-row: 1/2; */
  text-align: center;
  padding-bottom: 4rem;
}

.interest-image-wrap {
  margin: 0px 5%;
  display: flex;
}
.interest-box {
  /* width: 100%; */

  margin: 28px 28px;
  flex: 0 1 33.33%;
  height: 400px;
  /* width: 200px; */
  /* max-width: 33.33333%; */

  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
  box-shadow: 0 0 60px #3e2c41;
  /* border: 5px solid rgb(110, 133, 178); */
}

.interest-box p {
  padding: 12px 30px;
  border-radius: 30px;
  color: #261c2c;
  border: 3px solid #3e2c41;
  margin-bottom: 15px;
  background: #fff;
}
.algorithm {
  background: url(algo.jpg) center center;
  background-size: cover;
}
.web-design {
  background: url(web-dev.jpg) center center;
  background-size: cover;
}
.computer-vision {
  background: url(computer-vision.png) center center;
  background-size: cover;
}

.blogs {
  grid-area: blogs;
  margin-top: var(--v-space);
}
.blogs h1 {
  margin-bottom: var(--v-space);
  text-align: center;
}
.timeline-entry {
  background: var(--c-tertiary);
  /* backdrop-filter: saturate(180%) blur(40px);
  -webkit-backdrop-filter: saturate(180%) blur(40px); */

  position: relative;
  padding: calc(var(--v-space) / 2) 0;

  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". co description .";
}
.timeline-entry:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.timeline-entry:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.timeline-co {
  /* margin: calc(var(--v-space) * 0.5) 0; */
  grid-area: co;
  display: flex;
  flex-direction: column;
}
.timeline-co a {
  color: var(--c-primary);
  font-size: 6rem;
  /* padding-bottom: 1.2rem; */
}

.timeline-co ul {
  margin: auto 0;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.timeline-co li {
  padding: 0.8rem;
}
.timeline-co span {
  margin-left: 3rem;
}

.timeline-description {
  padding: calc(var(--v-space) * 0.5) 0;
  padding-left: 10%;
  border-left: 2px solid #000000;
  font-size: 1.5rem;
  line-height: 1.4;

  grid-area: description;
}

.button {
  display: inline-block;
  color: white;
  border-radius: 5px;
  margin-top: 1.5rem;
}

.button a {
  /* border-right: 3px solid saddlebrown; */
  color: white;
  padding: 0 0.5rem;
  background: rgb(230, 188, 73);
  border-radius: 0.25rem 0 0 0.25rem;
}
.button a:hover {
  background: white;
  color: rgb(230, 188, 73);
}
/* .button a:hover span {
  padding: 0 0.4rem;
} */
.button span {
  /* text-align: center; */

  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: #f8a407;
  padding: 0 0.3rem;
  /* transition: 0.5s; */
}

footer {
  grid-area: footer;

  display: grid;
  background: #3e2c41;
  margin-top: var(--v-space);

  grid-template-columns: 1fr 5fr 5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". p p .";
}
footer .footer-content {
  padding: calc(var(--v-space) / 2) 0;
  font-weight: var(--f-weight);
  font-size: 1.2rem;
  line-height: 1.4rem;

  grid-area: p;
  text-align: center;
  color: white;
}

.footer-content a {
  color: #fdd939;
}

@media only screen and (max-width: 834px) {
  :root {
    --v-space: 4rem;
  }
  html {
    font-size: 14px;
  }
  main {
    grid-template-columns: 1fr 8fr 2fr 1fr;
    grid-template-rows: 100vh auto;
    margin-left: 70px;
  }
  #check:checked ~ main {
    margin-left: 70px;
  }
  .contact-logo span {
    display: none;
  }

  .interest-image-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  .interest-box {
    flex: 0 1 66.67%;
    /* max-width: 66.67%; */
    height: 300px;
  }
}

@media only screen and (max-width: 736px) {
  :root {
    --v-space: 3rem;
  }
  html {
    font-size: 12px;
  }
  main {
    grid-template-columns: 1fr 10fr 0fr 1fr;
    grid-template-rows: 100vh repeat(4, auto);
    margin-left: 70px;
  }

  .timeline-entry {
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      ". hr hr ."
      ". co co ."
      ". description description .";
  }
}
